<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767981484176-ck7sf1iifrvn4u1v4b2rudcb2cdqod8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767981484176-ck7sf1iifrvn4u1v4b2rudcb2cdqod8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD6pYvzaVrGVLF0uoaog-mnLuLRTWt8Xoc</string>
	<key>GCM_SENDER_ID</key>
	<string>767981484176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuna.pixart</string>
	<key>PROJECT_ID</key>
	<string>pixart-c80e1</string>
	<key>STORAGE_BUCKET</key>
	<string>pixart-c80e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767981484176:ios:317ee46511678e61270015</string>
</dict>
</plist>